/* 
    Created on : 25 may. 2022, 23:39:02
    Author     : Oscar Sanchez Boza
*/

h1 
{
   background-color:  	#20B2AA;
   color: #000080; /*Color Navy*/
}

body
{
   background-color:    #F0F8FF;
   color: #000000; /*Color light blue*/
   
}

